<!DOCTYPE html>
<html>
<head>
    <title> Thông tin của bệnh nhân: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>

<body>
    Thông tin của bệnh nhân: {{CustomerName}}<br />
    Tên đăng nhập: {{tendangnhap}} <br />
    Mật khẩu: {{matkhau}} <br />
    Năm sinh: {{namsinh}} <br />
    Email: {{email}} <br />
    Giới tính: {{gioitinh}} <br />
    CMND/CCCD: {{cmnd_cccd}} <br />
    Dân tộc: {{dantoc}} <br />
    Địa chỉ: {{diachi}} <br />
    Số điện thoại: {{sdt}} <br />
</body>
</html>