@model DACN.Models.ChuyenKhoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/admin_Layout.cshtml";
}

<h1>Bạn có chắc chắn muốn xóa chuyên khoa này không?</h1>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.TenChuyenKhoa) Tên chuyên khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuyenKhoa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
