
@{
    ViewBag.Title = "ChuanDoanHinhAnh";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/CSS/ChuanDoan.css" rel="stylesheet" />
    <title>Khoa Chuẩn đoán hình ảnh</title>
}

<section id="Content">
    <div style="font-size:30px" class="Content-title"><h1 class="entry-title__h1">Khoa Chẩn đoán hình ảnh</h1></div>
    <div class="Content-about">
        <p>
            <em>
                Chẩn đoán hình ảnh đóng vai trò quan trọng trong việc chẩn đoán các tổn thương bên trong cơ thể. Thông qua hình ảnh thu được, bác sĩ sẽ có cơ sở để kết luận bệnh và đưa ra phác đồ điều trị đặc hiệu.
            </em>
        </p>
        <p>
            Khoa Chẩn đoán hình ảnh thuộc Bệnh viện DN có chức năng thăm khám, chẩn đoán tổn thương nhờ vào hình ảnh CT-Scan, X-quang kèm những thủ thuật can thiệp khác. Hệ thống y tế tối tân, đội ngũ bác sĩ hàng đầu đã khiến đông đảo người bệnh tin tưởng và gửi gắm sức khỏe lâu dài tại đây.
        </p>
        <h2><span class="ez-toc-section" id="1 Trang thiết bị hiện đại bậc nhất"></span>1. Trang thiết bị hiện đại bậc nhất<span class="ez-toc-section-end"></span></h2>
        <p>Máy móc công nghệ là yếu tố hỗ trợ đắc lực trong việc chẩn đoán sớm, xác định chính xác tình trạng bệnh. Vì thế DN rất chú trọng trong việc đầu tư nâng cấp phương tiện kỹ thuật. Các thiết bị tân tiến so với bệnh viện trong nước được DN trang bị đầy đủ, đồng bộ nhằm mang đến hiệu suất chẩn đoán hình ảnh cao nhất. </p>
        <h3><span class="ez-toc-section" id="1.1  Hệ thống chụp cộng hưởng từ MRI nguyên lý H2"></span>1.1  Hệ thống chụp cộng hưởng từ MRI nguyên lý H2<span class="ez-toc-section-end"></span></h3>
        <p>Máy cộng hưởng từ MRI được dùng để chụp sọ não, vùng cổ, cột sống, cơ xương khớp, tuyến vú, vùng bụng – chậu để phát hiện các tổn thương, bệnh lý. DN sử dụng công nghệ chụp cộng hưởng từ MRI nguyên lý H2 để chẩn đoán hình ảnh nhờ từ trường và sóng radio. Nguyên tử Hydrogen bên trong cơ thể sẽ phóng thích năng lượng sóng RF trong quá trình chụp cộng hưởng từ. Năng lượng này được hệ thống thu nhận và sắp xếp ra hình ảnh chi tiết về bộ phận cần chụp. </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/1.jpg" />
        </div>
        <p>Ưu điểm từ máy cộng hưởng từ MRI tại DN bao gồm: </p>
        <p>– Hình ảnh MRI thu được sẽ sắc nét, khảo sát được đa mặt cắt và chi tiết giải phẫu tốt. </p>
        <p>– Hình ảnh tái tạo rõ nét giúp bác sĩ phát hiện được mọi tổn thương bệnh lý bao gồm cả ung thư. </p>
        <p>– Máy MRI cao cấp tại DN không xâm nhập, không sử dụng tia X, có từ trường đặc biệt an toàn kể cả với trẻ nhỏ hay phụ nữ mang thai. </p>
        <h3><span class="ez-toc-section" id="1.2  Hệ thống máy chụp cắt lớp vi tính MS CT đa lát cắt "></span>1.2 Hệ thống máy chụp cắt lớp vi tính MS CT đa lát cắt <span class="ez-toc-section-end"></span></h3>
        <p>Máy MSCT được dùng để tầm soát bệnh lý tim mạch, phát hiện sớm ung thư, chẩn đoán các bệnh lý. Máy chụp cắt lớp còn đặc biệt hữu ích trong trường hợp theo dõi chuyển biến bệnh sau phẫu thuật ung thư. </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/2.jpg" />
        </div>
        <p>Tác dụng vượt trội của máy MSCT 64 – 128 dãy tại DN </p>
        <p>– Cung cấp chất lượng hình ảnh tốt nhất với độ phân giải không gian cao.  </p>
        <p>– Quan sát tổn thương đa góc độ nhờ việc tái hiện hình ảnh trên không gian 3 chiều và nhiều bình diện.  </p>
        <p>– Khả năng ghi hình với vận tốc nhanh chụp được cả các cơ quan chuyển động như mạch máu, tim giúp chẩn đoán được các bệnh lý động mạch ngành nguy hiểm.</p>
        <p>– Hạn chế liều lượng tia X, giảm bức xạ cho người bệnh, bác sĩ và kỹ thuật viên. Do đó máy MSCT 64 – 128 dãy an toàn hơn và có thể sử dụng chẩn đoán ở cả trẻ em.</p>
        <h3><span class="ez-toc-section" id="1.3  Công nghệ nội soi dạ dày đại tràng NBI 5P"></span>1.3 Công nghệ nội soi dạ dày đại tràng NBI 5P<span class="ez-toc-section-end"></span></h3>
        <p>DN ứng dụng công nghệ NBI 5P tiên tiến bậc nhất. Chế độ ánh sáng dải tần hẹp giúp bác sĩ quan sát sâu, chi tiết lớp niêm mạc. Khả năng phóng đại hình ảnh lên đến 100 lần giúp bác sĩ có thể phát hiện cả những tổn thương nhỏ nhất. Thông qua nội soi tiêu hóa NBI 5P, mọi bệnh lý như: viêm loét, polyp, HP, ung thư được “đưa ra ánh sáng” từ giai đoạn rất sớm. Công nghệ NBI 5P còn giúp bác sĩ loại bỏ các tổ chức tiền ung thư ngay trong khi nội soi mà không cần thêm bất kỳ cuộc phẫu thuật nào khác. </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/3.jpg" />
        </div>
        <p>Bên cạnh đó, dịch vụ nội soi dạ dày đại tràng tại DN còn có những ưu điểm: </p>
        <p>– Máy bơm tiêm điện tự động đong đếm lượng thuốc mê phù hợp thể trạng, tuổi tác, giới tính người bệnh. Người bệnh chìm vào giấc ngủ êm ái, không hề thấy đau đớn khó chịu và sau 15 phút tỉnh dậy là quá trình nội soi đã hoàn tất. </p>
        <p>– Quy trình soi siêu sạch: Dụng cụ y tế dùng 1 lần – Đồ cá nhân riêng biệt.</p>
        <h3><span class="ez-toc-section" id="1.4 Hệ thống xét nghiệm Robot tự động Power Express"></span>1.4 Hệ thống xét nghiệm Robot tự động Power Express<span class="ez-toc-section-end"></span></h3>
        <p>Hệ thống xét nghiệm bằng robot được ứng dụng trong các dịch vụ như: xét nghiệm máu, nước tiểu, xét nghiệm màng phổi, não tủy,.. DN là một trong số ít địa chỉ trang bị hệ thống tối tân sản xuất chính hãng bởi Beckman Coulter, Hoa Kỳ. </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/4.jpg" />
        </div>
        <p>Ưu điểm của Power Express so với mô hình xét nghiệm truyền thống: </p>
        <p>– Nâng cao công suất xử lý mẫu xét nghiệm lên đến 1200 mẫu/ giờ nhờ việc loại bỏ các thao tác thủ công. Người bệnh không cần chờ đợi kết quả lâu.</p>
        <p>– Rút ngắn thời gian phân tích từ 60 phút => 27 phút.</p>
        <p>– Hạn chế sai số, mang đến kết quả chuẩn xác tối đa. </p>
        <h3><span class="ez-toc-section" id="1.5  Phương tiện siêu âm màu 5D"></span>1.5 Phương tiện siêu âm màu 5D<span class="ez-toc-section-end"></span></h3>
        <p>Máy siêu âm màu 5D ứng dụng phương pháp siêu âm với 3 chiều không gian 1 chiều thời gian cùng 1 chiều chẩn đoán. Đây là thiết bị dùng phổ biến trong sản khoa giúp quan sát được mặt mũi, tay chân và cả hoạt động của thai nhi. Qua đó, bác sĩ có thể phát hiện được những dị tật bẩm sinh để có những phương án xử lý kịp thời. Ngoài ra phương pháp siêu âm này còn được chỉ định để đo da gáy, khảo sát nang noãn, hệ thần kinh trung ương,.. </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/5.jpg" />
        </div>
        <p>Ưu điểm của kỹ thuật siêu âm màu 5D tại DN: </p>
        <p>– Sóng siêu âm không bị cản lại bởi xương, các tổ chức mô hay khối không khí. </p>
        <p>– Tạo hình ảnh có màu, sống động thay cho những tấm hình siêu âm đen trắng giúp nâng cao giá trị chẩn đoán. Tất cả là nhờ đầu dò tiên tiến của máy có thể ghi lại các tín hiệu âm và chuyển động của các bộ phận trên màn hình. </p>
        <h3><span class="ez-toc-section" id="1.6  Máy đo loãng xương toàn thân tiêu chuẩn vàng "></span>1.6  Máy đo loãng xương toàn thân tiêu chuẩn vàng <span class="ez-toc-section-end"></span></h3>
        <p>DN trang bị loại máy đo loãng xương cao cấp hai bình diện DEXXUM T từng được WHO công nhận với độ chuẩn xác lên tới 98% </p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/6.jpg" />
        </div>
        <p> Ưu điểm của máy đo loãng xương tại DN so với nhiều dòng máy khác: </p>
        <p>– Sở hữu thời gian quét nhanh nhất</p>
        <p>– Bác sĩ sẽ đo được độ loãng xương bằng tia X. Lượng tia X là rất nhỏ không gây ảnh hưởng tiêu cực đến người bệnh.  </p>
        <p>– Vận hành đơn giản nhưng mang đến kết quả đo loãng xương chính xác nhất.</p>
        <p>Thiết kế: chiều cao bàn bệnh nhân là lý tưởng với vóc dáng người Việt Nam </p>
        <h3><span class="ez-toc-section" id="1.7  Hệ thống chụp X-quang kỹ thuật số"></span>1.7  Hệ thống chụp X-quang kỹ thuật số<span class="ez-toc-section-end"></span></h3>
        <p>X-quang kỹ thuật số dùng để chẩn đoán tổn thương, bệnh lý tại nhiều cơ quan trên cơ thể. Dàn phương tiện máy móc hiện đại tại DN hỗ trợ quá trình chụp X-quang diễn ra thuận lợi, an toàn và có hiệu quả cao.</p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/ChuanDoan/7.jpg" />
        </div>
        <p>Lợi ích từ hệ thống chụp X-quang kỹ thuật số hàng đầu : </p>
        <p>–Hình ảnh ít hư, không yêu cầu điều kiện phòng tối nghiêm ngặt và gần như không cần chụp lại. </p>
        <p>– Có thể thực hiện khảo sát nhiều mô và các cơ quan khác nhau trên cùng 1 phim . </p>
        <p>– Bác sĩ có thể phóng to, thu nhỏ tùy ý từng vùng muốn quan sát  </p>
        <p>– Hạn chế sự tác động của tia X đến sức khỏe người bệnh</p>

        <h2><span class="ez-toc-section" id="2 Đội ngũ bác sĩ hàng đầu"></span>2. Đội ngũ bác sĩ hàng đầu<span class="ez-toc-section-end"></span></h2>
        <p>Chẩn đoán hình ảnh trở thành một khoa mũi nhọn tại DN và được bệnh nhân gần xa tin tưởng còn vì đội ngũ bác sĩ giỏi chuyên môn – sáng y đức. Người bệnh được thăm khám bởi các bác sĩ trình độ cao, vững vàng kinh nghiệm trong việc ứng dụng thiết bị tiên tiến trong chẩn đoán hình ảnh. Bác sĩ sẽ đưa ra kết luận chính xác và phương án điều trị lý tưởng giúp người bệnh phục hồi nhanh chóng. </p>
        <p>Đội ngũ bác sĩ tiêu biểu:</p>
        <p>–Thạc sĩ, Bác sĩ Nguyễn Quang Hanh – Trưởng Khoa Chẩn đoán hình ảnh: Nhiều năm gắn bó với đơn vị, bác Hanh sở hữu óc quan sát, phán đoán tình huống tốt, nhạy bén trước các ca bệnh phức tạp. </p>
        <p>– Bác sĩ Vũ Quốc Đông – Bác sĩ Chẩn đoán hình ảnh: với kinh nghiệm dày dạn từng công tác tại các bệnh viện lớn nhiều năm liền, bác Đông được rất nhiều bệnh nhân yêu mến. </p>
        <p>– Bác sĩ Trịnh Hòa Bình – Bác sĩ Chẩn đoán hình ảnh với hơn 30 năm kinh nghiệm trong ngành, từng công tác tại bệnh viện tuyến đầu cả nước.</p>
        <p>– Bác sĩ CKII Vũ Đình Sáng – Bác sĩ Siêu âm tổng quát– Nguyên trưởng khoa Chẩn đoán hình ảnh Bệnh viện 198: luôn được đánh giá là vị bác sĩ tận tụy chu đáo nhất khoa.</p>
        <p>– Bác sĩ CKI Hoàng Văn Tân – Bác sĩ Chẩn đoán hình ảnh: Bác sĩ có hơn 33 năm kinh nghiệm công tác tại Khoa Chẩn đoán hình ảnh, BV Đa khoa tỉnh Phú Thọ; từng giữ chức Phó khoa Chẩn đoán hình ảnh BV Đa khoa tỉnh Phú Thọ.</p>
        <h2><span class="ez-toc-section" id="4 Dịch vụ chăm sóc chu đáo, tận tâm"></span>4. Dịch vụ chăm sóc chu đáo, tận tâm<span class="ez-toc-section-end"></span></h2>
        <p>Không chỉ được đánh giá cao về chất lượng khám chữa bệnh, Bệnh viện DN cũng nỗ lực mang đến dịch vụ chăm sóc chu đáo, tận tình mang lại sự thoải mái, dễ chịu hài lòng tối đa cho người bệnh khi đến thăm khám:</p>
        <p>– Đội ngũ điều dưỡng viên chuyên nghiệp, hướng dẫn tận tình, chăm sóc chu đáo.</p>
        <p>– Không gian rộng rãi, sạch sẽ, tiện nghi giúp mang lại sự thoải mái trong quá trình khám và điều trị.</p>
        <p>– Chủ động sắp xếp, tiết kiệm thời gian nhờ dịch vụ đặt lịch đơn giản, nhanh chóng chỉ với 1 tin nhắn hoặc cuộc gọi.</p>
        <p>–Phòng lưu viện đầy đủ tiện nghi, bệnh nhân không cần mang theo đồ dùng cá nhân.</p>
        <p>– Bệnh viện DN làm việc tất cả các ngày trong tuần từ 6h30 – 17h00, phí khám không đổi.</p>
</section>
