
@{
    ViewBag.Title = "CoXuongKhop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/CSS/CoXuongKhop.css" rel="stylesheet" />
    <title>Khoa Cơ xương khớp</title>
}

<section id="Content">
    <div style="font-size:30px" class="Content-title"><h1 class="entry-title__h1">Chuyên khoa Cơ xương khớp</h1></div>
    <div class="Content-about">
        <p>
            Quy tụ đội ngũ bác sĩ chuyên khoa hàng đầu giỏi chuyên môn, nhiều năm kinh nghiệm và hệ thống cơ sở vật chất máy móc hiện đại bậc nhất, Chuyên khoa Cơ xương khớp – Bệnh viện DN là nơi lý tưởng để khám và điều trị các bệnh lý về cơ xương khớp, ngăn ngừa biến chứng, cải thiện chất lượng cuộc sống.
        </p>
        <h2><span class="ez-toc-section" id="1 Phạm vi khám và điều trị"></span>1. Phạm vi khám và điều trị<span class="ez-toc-section-end"></span></h2>
        <p>Chuyên khoa Cơ xương khớp – Bệnh viện DN là địa chỉ tin cậy trong việc thăm khám và điều trị các bệnh lý về xương khớp tiêu biểu như:</p>
        <p>– Điều trị bệnh khớp do thoái hóa: Thoái hóa khớp gối, khớp háng, khớp vai, đau dây thần kinh tọa, hội chứng cổ vai cánh tay</p>
        <p>– Khám, chẩn đoán và điều trị thoát vị đĩa đệm</p>
        <p>– Khám và điều trị viêm khớp dạng thấp, viêm cột sống dính khớp, viêm khớp phản ứng, viêm khớp vẩy nến, viêm khớp tinh thể- Gout, viêm khớp nhiễm trùng</p>
        <p>– Chẩn đoán và điều trị loãng xương</p>
        <p>– Khám và điều trị viêm gân cơ (hội chứng ống cổ tay, hội chứng Quer, ngón tay lò xo, viêm chu vai )</p>
        <p>– Thực hiện các thủ thuật, phẫu thuật điều trị bệnh lý cơ xương khớp này như: Tiêm ổ khớp, nội soi khớp gối, chọc dò khớp gối, rửa khớp gối,…</p>

        <h2><span class="ez-toc-section" id="2 Đội ngũ bác sĩ đầu ngành"></span>2. Đội ngũ bác sĩ đầu ngành<span class="ez-toc-section-end"></span></h2>
        <p>Khi tới thăm khám tại Chuyên khoa Cơ xương bệnh viện DN, người bệnh sẽ được khám và điều trị với đội ngũ bác sĩ chuyên khoa hàng đầu, giỏi chuyên môn, nhiều năm kinh nghiệm.</p>
        <h3><span class="ez-toc-section" id="2.1 GS.TS.BS Trần Ngọc Ân"></span>2.1 GS.TS.BS Trần Ngọc Ân<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/CoXuongKhop/1.jpg" />
        </div>
        <p>
            Số năm kinh nghiệm: trên 40 năm
            Chuyên môn: Khám Nội cơ xương khớp, các bệnh cơ xương khớp thường gặp (viêm khớp, gout, thoái hóa, đau nhức xương khớp...),đặc biệt là về thấp khớp.
            GS.TS Trần Ngọc Ân là chuyên gia cơ xương khớp đầu ngành, bác sĩ nổi tiếng và là một trong những người đặt nền móng cho chuyên khoa Nội cơ xương khớp ở nước ta. Giáo sư Ân đặc biệt có thế mạnh về khám chữa bệnh về Khớp, bác sĩ còn được gọi là "thầy của chuyên ngành thấp khớp học".
            Trong những năm 1960, ngành thấp khớp học tại Việt Nam còn chưa phát triển, cũng rất ít tài liệu về chuyên ngành này. Bác sĩ đã ra nước ngoài tu nghiệp thêm và viết sách về cách điều trị căn bệnh thấp khớp, đặt nền móng cho sự phát triển của cả chuyên ngành sau này sánh ngang với các nước trong khu vực.
        </p>
        <h3><span class="ez-toc-section" id="2.2 PGS.TS.BS Vũ Thị Thanh Thủy"></span>2.1 PGS.TS.BS Vũ Thị Thanh Thủy<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/CoXuongKhop/2.jpg" />
        </div>
        <p>
            Số năm kinh nghiệm: 40 năm
            Chuyên môn: Khám Nội cơ xương khớp, các bệnh về Khớp, các bệnh về Xương (loãng xương, thoái hóa),các bệnh về Cơ
            Là một trong những bác sĩ xương khớp giỏi và hơn 30 năm kinh nghiệm khám chữa bệnh cơ xương khớp, PGS.TS Vũ Thị Thanh Thủy, đã điều trị thành công nhiều mặt bệnh từ nhẹ đến nặng, từ bệnh phổ biến đến những bệnh hiếm gặp. Nhiều bệnh nhân phản hồi tích cực sau khi thăm khám, cả về phương án điều trị và cách tư vấn của bác sĩ.

            Bác sĩ Vũ Thị Thanh Thủy có kinh nghiệm nhiều năm và nghiên cứu chuyên sâu về điều trị loãng xương, căn bệnh rất nhiều người gặp phải đặc biệt là phụ nữ tuổi trung niên. Bác sĩ thường xuyên cập nhật các tài liệu mới, các phương pháp điều trị mới cho căn bệnh loãng xương và các bệnh thuộc chuyên khoa cơ xương khớp khác.

            Trong quá trình công tác của mình, PGS Vũ Thị Thanh Thủy đã đảm nhiệm nhiều vị trí quan trọng:

            Nguyên là Trưởng khoa Cơ xương khớp tại Bệnh Viện Bạch Mai
            Chủ tịch Hội loãng xương Hà Nội
            Ủy viên BCH Hội Thấp khớp học Việt Nam
            bác sĩ là chủ biên cuốn sách: Bệnh lý Cơ xương khớp thường gặp
        </p>
        <h2><span class="ez-toc-section" id="3 Trang thiết bị cơ sở vật chất hiện đại"></span>3 Trang thiết bị cơ sở vật chất hiện đại<span class="ez-toc-section-end"></span></h2>
        <p>Cùng với đội ngũ bác sĩ chuyên khoa hàng đầu, Hệ thống Y tế Thu Cúc cũng trang bị nhiều máy móc, thiết bị hiện đại giúp hỗ trợ chẩn đoán chính xác và điều trị hiệu quả các bệnh lý về cơ xương khớp:</p>
        <h3><span class="ez-toc-section" id="3.1 Máy chụp cộng hưởng từ MRI"></span>3.1 Máy chụp cộng hưởng từ MRI<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/CoXuongKhop/3.jpg" />
        </div>
        <p>
            Bệnh viện DN trang bị máy cộng hưởng từ MRI theo công nghệ mới nhất, dùng để chụp sọ não, vùng cổ, cột sống, cơ xương khớp, tuyến vú, vùng bụng – chậu nhằm phát hiện các tổn thương và bệnh lý liên quan.
        </p>
        <h3><span class="ez-toc-section" id="3.2 Máy chụp cắt lớp CT 64 – 128 dãy"></span>3.2 Máy chụp cắt lớp CT 64 – 128 dãy<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="/Ảnh/Cơ xương/4.jpg" alt="">
        </div>
        <p>
            Với hệ thống máy chụp cắt lớp vi tính 64 – 128 dãy hiện đại, đội ngũ bác sĩ, kỹ thuật viên chẩn đoán hình ảnh có chuyên môn giỏi, thành thạo trong sử dụng các loại máy, có kinh nghiệm công tác trong lĩnh vực chẩn đoán hình ảnh tại các bệnh viện uy tín trong nước sẽ giúp hỗ trợ chẩn đoán chính xác các vấn đề cơ xương khớp và điều trị hiệu quả, đúng bệnh, đúng nguyên nhân.
        </p>
        <h2><span class="ez-toc-section" id="4 Dịch vụ chăm sóc chu đáo, tận tâm"></span>4. Dịch vụ chăm sóc chu đáo, tận tâm<span class="ez-toc-section-end"></span></h2>
        <p>Không chỉ được đánh giá cao về chất lượng khám chữa bệnh, Bệnh viện DN cũng nỗ lực mang đến dịch vụ chăm sóc chu đáo, tận tình mang lại sự thoải mái, dễ chịu hài lòng tối đa cho người bệnh khi đến thăm khám:</p>
        <p>– Đội ngũ điều dưỡng viên chuyên nghiệp, hướng dẫn tận tình, chăm sóc chu đáo.</p>
        <p>– Không gian rộng rãi, sạch sẽ, tiện nghi giúp mang lại sự thoải mái trong quá trình khám và điều trị.</p>
        <p>– Chủ động sắp xếp, tiết kiệm thời gian nhờ dịch vụ đặt lịch đơn giản, nhanh chóng chỉ với 1 tin nhắn hoặc cuộc gọi.</p>
        <p>–Phòng lưu viện đầy đủ tiện nghi, bệnh nhân không cần mang theo đồ dùng cá nhân.</p>
        <p>– Bệnh viện DN làm việc tất cả các ngày trong tuần từ 6h30 – 17h00, phí khám không đổi.</p>
</section>