
@{
    ViewBag.Title = "NoiTiet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/CSS/NoiTiet.css" rel="stylesheet" />
    <title>Khoa Nội tiết</title>
}

<section id="Content">
    <div style="font-size:30px" class="Content-title"><h1 class="entry-title__h1">Chuyên khoa Nội tiết</h1></div>
    <div class="Content-about">
        <p>
            Ngày càng nhiều người mắc bệnh lý về nội tiết như bệnh tiểu đường, bệnh lý tuyến giáp (cường giáp, suy giáp), suy tuyến thượng thận, suy tuyến yên,… Những bệnh lý này ảnh hưởng không nhỏ, làm suy giảm sức khỏe của người bệnh, nguy cơ để lại nhiều biến chứng nguy hiểm, làm suy giảm chất lượng cuộc sống và tạo gánh nặng về kinh tế cho người bệnh và gia đình. Chuyên khoa Nội tiết Bệnh viện DN quy tụ nhiều bác sĩ giỏi trong lĩnh vực nội tiết, hệ thống trang thiết bị y tế hiện đại, sẽ giúp phát hiện sớm các vấn đề về nội tiết và đưa ra phác đồ điều trị tốt nhất, giúp hạn chế tối đa các biến chứng do bệnh gây ra.
        </p>
        <h2><span class="ez-toc-section" id="1 Phạm vi dịch vụ"></span>1. Phạm vi dịch vụ<span class="ez-toc-section-end"></span></h2>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/NoiTiet/1.jpg" />
        </div>
        <p>Chuyên khoa nội tiết tại Bệnh viện DN, thực hiện khám và điều trị nhiều bệnh lý nội tiết như: </p>
        <p>– Đái tháo đường</p>
        <p>– Đái tháo đường thai kỳ</p>
        <p>– Basedow</p>
        <p>– Bướu, nhân tuyến giáp</p>
        <p>– Viêm giáp cấp</p>
        <p>– Viêm giáp bán cấp</p>
        <p>– Viêm giáp tự miễn</p>
        <p>– Chẩn đoán u tuyến yên, u tuyến thượng thận,…</p>
        <h2><span class="ez-toc-section" id="2 Bác sĩ chuyên môn giỏi, tận tâm với người bệnh"></span>2. Bác sĩ chuyên môn giỏi, tận tâm với người bệnh<span class="ez-toc-section-end"></span></h2>
        <h3><span class="ez-toc-section" id="2.1 TS.BS. Lê Tuyết Hoa"></span>2.1 TS.BS. Lê Tuyết Hoan<span class="ez-toc-section-end"></span></h3>
        <p>Chuyên khoa nội tiết tại Bệnh viện DN quy tụ nhiều bác sĩ chuyên môn giỏi trong lĩnh vực nội tiết, có nhiều năm kinh nghiệm công tác trong lĩnh vực chuyên môn về nội tiết tại các bệnh viện lớn ra làm việc.</p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/NoiTiet/2.jpg" />
        </div>
        <p>
            TS.BS. Lê Tuyết Hoa là một bác sĩ chuyên khoa nội tiếng giỏi tại TPHCM. Với trình độ chuyên môn cao, được đào tạo chuyên nghiệp, cùng với đó là nhiều năm kinh nghiệm hoạt động trong lĩnh vực đã giúp cho bác sĩ nhanh chóng chiếm được lòng tin của các bệnh nhân. Hiện tại, phòng khám của bác sĩ ngày càng tiếp nhận được nhiều bệnh nhân với các mức độ bệnh khác nhau.
        </p>
        <h3><span class="ez-toc-section" id="2.2 PGS.TS.BS Vũ Thị Thanh Thủy"></span>2.1 PGS.TS.BS Vũ Thị Thanh Thủy<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/NoiTiet/3.jpg" />
        </div>
        <p>
            PGS.TS.BS Nguyễn Thị Bích Đào với hơn 33 năm kinh nghiệm hoạt động trong ngành nội tiết đã giúp cho hàng nghìn khách hàng mỗi năm lấy lại sức khỏe vốn có của mình. Hiện nay, bác sĩ là một trong những người có trình độ chuyên môn giỏi tại TPHCM.
        </p>
        <h2><span class="ez-toc-section" id="3 Hệ thống trang thiết bị tân tiến, giúp chẩn đoán chính xác"></span>3. Hệ thống trang thiết bị tân tiến, giúp chẩn đoán chính xác<span class="ez-toc-section-end"></span></h2>
        <p>Bệnh viện DN được đầu tư đồng bộ về hệ thống máy móc, trang thiết bị hiện đại. Ứng dụng các kỹ thuật cận lâm sàng tiên tiến giúp hỗ trợ quá trình chẩn đoán bệnh chính xác, giúp phát hiện sớm những dấu hiệu nghi ngờ như:</p>
        <p>Chuyên khoa nội tiết tại Bệnh viện DN, thực hiện khám và điều trị nhiều bệnh lý nội tiết như: </p>
        <p>– Siêu âm đen trắng tuyến giáp, ổ bụng</p>
        <p>– Siêu âm màu 4D, 5D</p>
        <p>– Siêu âm Doppler mạch tuyến giáp</p>
        <p>– Chụp X-quang</p>
        <p>– Chụp CT (cắt lớp vi tính) tuyến giáp</p>
        <p>– Chụp cộng hưởng từ MRI não kiểm tra tuyến yên</p>
        <p>– Xét nghiệm tế bào tuyến giáp bằng hệ thống xét nghiệm đạt tiêu chuẩn quốc tế ISO 15189:2012</p>
        <p>– Chọc hút dịch điều trị u nang tuyến giáp</p>
        <p>– Chọc hút tế bào tuyến giáp dưới hướng dẫn của siêu âm,…</p>
        <h2><span class="ez-toc-section" id="4 Dịch vụ chăm sóc chu đáo, tận tâm"></span>4. Dịch vụ chăm sóc chu đáo, tận tâm<span class="ez-toc-section-end"></span></h2>
        <p>Không chỉ được đánh giá cao về chất lượng khám chữa bệnh, Bệnh viện DN cũng nỗ lực mang đến dịch vụ chăm sóc chu đáo, tận tình mang lại sự thoải mái, dễ chịu hài lòng tối đa cho người bệnh khi đến thăm khám:</p>
        <p>– Đội ngũ điều dưỡng viên chuyên nghiệp, hướng dẫn tận tình, chăm sóc chu đáo.</p>
        <p>– Không gian rộng rãi, sạch sẽ, tiện nghi giúp mang lại sự thoải mái trong quá trình khám và điều trị.</p>
        <p>– Chủ động sắp xếp, tiết kiệm thời gian nhờ dịch vụ đặt lịch đơn giản, nhanh chóng chỉ với 1 tin nhắn hoặc cuộc gọi.</p>
        <p>–Phòng lưu viện đầy đủ tiện nghi, bệnh nhân không cần mang theo đồ dùng cá nhân.</p>
        <p>– Bệnh viện DN làm việc tất cả các ngày trong tuần từ 6h30 – 17h00, phí khám không đổi.</p>
</section>
