
@{
    ViewBag.Title = "RangHamMat";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/CSS/RangHamMat.css" rel="stylesheet" />
    <title>Khoa Răng hàm mặt</title>
}

<section id="Content">
    <div style="font-size:30px" class="Content-title"><h1 class="entry-title__h1">Khoa Răng hàm mặt</h1></div>
    <div class="Content-about">
        <p>
            Là một trong những chuyên khoa được thành lập ngay từ khi bệnh viện đi vào hoạt động, trải qua nhiều năm hình thành và phát triển, khoa Răng Hàm Mặt – Bệnh viện DN đã và đang khẳng định là chuyên khoa chất lượng cao, uy tín là địa chỉ tin cậy, chăm sóc răng miệng của tất cả các khách hàng trên khắp cả nước. Đến với khoa Răng Hàm Mặt, khách hàng sẽ được trải nghiệm các dịch vụ từ nha khoa điều trị đến nha khoa thẩm mỹ cao cấp bởi đội ngũ bác sĩ có chuyên môn cao, nhiều năm kinh nghiệm thực hiện.
        </p>
        <h2><span class="ez-toc-section" id="1 Những dịch vụ nổi bật của Khoa Răng Hàm Mặt"></span>1. Những dịch vụ nổi bật của Khoa Răng Hàm Mặt<span class="ez-toc-section-end"></span></h2>
        <p>Với mong muốn mang đến cho khách hàng sự tự tin và nụ cười rạng ngời, khoa Răng Hàm Mặt – Bệnh viện DN đã cho ra đời và cung cấp đầy đủ các dịch vụ chăm sóc hoàn hảo, đẳng cấp nhất. </p>
        <h3><span class="ez-toc-section" id="1.1  Nha khoa bệnh lý"></span>1.1  Nha khoa bệnh lý<span class="ez-toc-section-end"></span></h3>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/RangHamMat/1.jpg" />
        </div>
        <p>–  Những bệnh lý răng về răng miệng ở trẻ em như: sâu răng, viêm lợi, hôi miệng, điều trị tủy răng… </p>
        <p>– Bệnh lý sâu răng, hàn răng, bệnh lý tủy răng, bệnh vùng cuống răng, bệnh niêm mạc miệng </p>
        <p>– Những bệnh về lợi như: viêm lợi, viêm chân răng, cao răng… </p>
        <p>– Điều trị các bệnh lý khoang miệng: nấm, viêm loét, herpes..</p>
        <p>– Phát hiện sớm ung thư vòm họng trong khoang miệng </p>
        <p>– Phẫu thuật lợi làm dài chân răng </p>
        <p>– Phẫu thuật lật vạt điều trị viêm quanh răng</p>
        <p>– Phẫu thuật chỉnh hình phanh môi, má, lưỡi sai giải phẫu</p>
        <p>–  Thực hiện các tiểu phẫu thuật trong miệng như: phẫu thuật cắt nang chân răng, nắn chỉnh răng mọc ngầm, nhổ răng…</p>
        <p>– Phục hình răng bao gồm: phục hình lắp hàm, cố định cầu răng, chụp răng….</p>
        <p>– Phẫu thuật khối u vùng hàm mặt</p>
        <h3><span class="ez-toc-section" id="1.2 Nha khoa thẩm mỹ "></span>1.2 Nha khoa thẩm mỹ <span class="ez-toc-section-end"></span></h3>
        <p>Bên cạnh việc điều trị các bệnh lý về răng miệng, khắc phục những nhược điểm của hàm răng thì Khoa Răng Hàm Mặt – Bệnh viện DN còn hướng tới dịch vụ nha khoa thẩm mỹ để mang lại vẻ đẹp hoàn hảo cho khách hàng. Không chỉ được đầu tư nghiêm túc về công nghệ, cơ sở máy móc hiện đại mà Khoa Răng Hàm mặt của DN còn quy tụ đội ngũ bác sĩ có chuyên môn cao, nhiều năm kinh nghiệm trong nghề, thực hiện tốt  tất cả các dịch vụ nha khoa theo yêu cầu khắt khe  của khách hàng. Các dịch vụ nổi bật của Nha khoa thẩm mỹ bao gồm:</p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/RangHamMat/2.jpg" />
        </div>
        <p>– Tẩy trắng răng</p>
        <p>– Phục hình thẩm mỹ răng bao gồm: Dán sứ Veneer 3D, bọc răng sứ thẩm mỹ…/p>
        <p>– Nắn chỉnh răng: Nắn chỉnh bằng mắc cài titan, mắc cài sứ, mắc cài composite, invisalign… </p>
        <p>– Phẫu thuật đường cười hở lợi</p>
        <p>– Phục hình răng: Cấy ghép Implant nha khoa</p>
        <h3><span class="ez-toc-section" id="1.3  Nha khoa dự phòng"></span>1.3 Nha khoa dự phòng<span class="ez-toc-section-end"></span></h3>
        <p>– Chăm sóc răng toàn diện </p>
        <p>– Chăm sóc răng cho trẻ</p>
        <p>– Chăm sóc răng cho người lớn tuổi</p>
        <h2><span class="ez-toc-section" id="2 Đội ngũ giáo sư, bác sĩ chuyên khoa giỏi, nhiều năm kinh nghiệm"></span>2. Đội ngũ giáo sư, bác sĩ chuyên khoa giỏi, nhiều năm kinh nghiệm<span class="ez-toc-section-end"></span></h2>
        <p>Khoa Răng Hàm Mặt bệnh viện DN sở hữu đội ngũ y bác sĩ giỏi, nhiều năm kinh nghiệm, chuyên môn cao, tốt nghiệp các trường đại học danh tiếng như: Đại học Răng Hàm, Đại học Y Hà Nội…Không chỉ dừng lại ở đó, đội ngũ y bác sĩ DN còn thường xuyên được tham gia các lớp đào tạo và những khóa tu nghiệp chuyên sâu về Implant, Chỉnh nha, Phục hình thẩm mỹ tại các nước danh tiếng như Ý, Pháp, Mỹ, Hàn Quốc nhằm học hỏi và nâng cao trình độ chuyên môn của bản thân.</p>
        <div style="width: 481px" class="img">
            <img src="~/Content/image/RangHamMat/3.jpg" />
        </div>
        <p>Bên cạnh đó, Bệnh viện DN còn hợp tác với rất nhiều bác sĩ, chuyên gia hàng đầu trong lĩnh vực Răng Hàm Mặt cả trong và ngoài nước như: Chuyên gia từ Hàn Quốc, Nhật Bản, Phó trưởng khoa Implant của Bệnh viện Răng Hàm Mặt TW….</p>
        <h2><span class="ez-toc-section" id="3 Trang thiết bị máy móc hiện đại, nhập khẩu 100%"></span>3. Trang thiết bị máy móc hiện đại, nhập khẩu 100%<span class="ez-toc-section-end"></span></h2>
        <p>Với mục tiêu xây dựng khoa Răng Hàm Mặt tiêu chuẩn cao và đáp ứng nhu cầu thẩm mỹ của người bệnh. Bệnh viện DN đã đầu tư nghiêm túc, nâng cấp hệ thống trang thiết bị y tế, nhập khẩu 100% từ nước ngoài. Hệ thống trang thiết bị hiện đại không chỉ giúp hỗ trợ chẩn đoán, điều trị nhanh chóng, chính xác mà còn đáp ứng các kỹ thuật nha khoa không đau, đạt tiêu chuẩn vô trùng khắt khe theo tiêu chuẩn quốc tế.</p>
        <p>– Đèn tẩy trắng răng bằng ánh sáng trắng X – Bright (xuất xứ Châu Âu)</p>
        <p>– Hệ thống máy phẫu thuật siêu âm Piezotome</p>
        <p>– Hệ thống gồm 6 ghế máy nha khoa Gnatus (Braxin)</p>
        <p>– Đèn hàn quang trùng hợp Litex (Mỹ)</p>
        <p>– Máy X – Quang kỹ thuật số RSV (Pháp)</p>
        <p>– Máy nội soi răng (Hàn Quốc)</p>
        <p>– Máy điều trị tủy</p>
        <p>– Máy laser Nha khoa</p>
        <p>– Máy cấy Implant</p>
        <p>– Máy tẩy trắng răng và quang trùng hợp</p>
        <p>– Máy soi miệng Escope</p>
        <p>– Cùng các kỹ thuật hiện đại mô phỏng tương tác 3D tự động, ghép xương, Implant, nắn chỉnh Invisalign, công nghệ CAD/CAM…sẽ giúp mang lại kết quả thẩm mỹ tốt, làm hài lòng mọi người bệnh.</p>
        <h2><span class="ez-toc-section" id="4 Dịch vụ chăm sóc chu đáo, tận tâm"></span>4. Dịch vụ chăm sóc chu đáo, tận tâm<span class="ez-toc-section-end"></span></h2>
        <p>Không chỉ được đánh giá cao về chất lượng khám chữa bệnh, Bệnh viện DN cũng nỗ lực mang đến dịch vụ chăm sóc chu đáo, tận tình mang lại sự thoải mái, dễ chịu hài lòng tối đa cho người bệnh khi đến thăm khám:</p>
        <p>– Đội ngũ điều dưỡng viên chuyên nghiệp, hướng dẫn tận tình, chăm sóc chu đáo.</p>
        <p>– Không gian rộng rãi, sạch sẽ, tiện nghi giúp mang lại sự thoải mái trong quá trình khám và điều trị.</p>
        <p>– Chủ động sắp xếp, tiết kiệm thời gian nhờ dịch vụ đặt lịch đơn giản, nhanh chóng chỉ với 1 tin nhắn hoặc cuộc gọi.</p>
        <p>–Phòng lưu viện đầy đủ tiện nghi, bệnh nhân không cần mang theo đồ dùng cá nhân.</p>
        <p>– Bệnh viện DN làm việc tất cả các ngày trong tuần từ 6h30 – 17h00, phí khám không đổi.</p>
</section>